<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR APP</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body>
<h1>Sample Math</h1>
<div ng-app="hrApp">
    <div ng-controller="MathController">
        <p>Enter first number: <input type="text" ng-model="a"></p>
        <p>Enter second number: <input type="text" ng-model="b"></p>
        <p>Addition=<span ng-bind="sum"></span> </p>
        <p>Substraction=<span ng-bind="substr"></span> </p>
        <p>Multiplication=<span ng-bind="multiply"></span> </p>
        <p>Division=<span ng-bind="div"></span> </p>
    </div>
</div>
<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../scripts/app.js"></script>
<script type="text/javascript" src="../scripts/MathController.js"></script>
</body>
</html>